@import '../assets/sass/variables';

.Program {
  background-image: url('../assets/images/desktop/textura.jpg');
  height: 100vh;

  &__content {
    max-width: 120rem;
    margin: 0 auto;
  }

  &__title {
    color: $color-purple-100;
    margin-bottom: 6rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__date {
    font-size: 3.6rem;
    color: $color-purple-100;
    margin-bottom: 3rem;
    padding: 0 2rem;
  }

  &__activities {
    height: 85%;
    padding: 0 3rem;
  }

  &__activity {
    display: flex;
    font-size: 2rem;
    color: $color-brown-100;
    line-height: 1.45;

    &-hour {
      display: block;
      width: 30%;
    }

    &-name {
      width: 70%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}