// colors
$color-white: #fff;

$color-black: #000;

$color-green-100: #006534;
$color-green-200: #32CD37;
$color-green-300: #2B8058;

$color-brown-100: #976734;
$color-brown-200: #955723;

$color-pink-100: #FD0165;

$color-orange-100: #FD6504;

$color-purple-100: #9502C9;

//fonts
$font-primary: 'Mithella', sans-serif;
$font-secondary: 'Tofino', sans-serif;